<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{132,392},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buffalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,393},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,522},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,523},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,522},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,652},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,653},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,652},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{262,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{262,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{262,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gorilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{262,391},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,521},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,651},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1,132},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{392,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>narwhal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{392,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{392,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{392,391},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{521,521},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{521,651},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{522,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{522,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rhino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1,263},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{522,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{131,1},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walrus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{131,131},{129,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{132,261},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zebra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{522,391},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animal_square.png</string>
            <key>size</key>
            <string>{651,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00411c149e1b684f5dd1d9e003208dba:c72c322fa4a47d72041c8b19071ce41d:35daeacd28026105fe2f4c085a2c5ffc$</string>
            <key>textureFileName</key>
            <string>animal_square.png</string>
        </dict>
    </dict>
</plist>
